/* Styles for the todo form component */

.form-group {
  display: flex;
  justify-content: space-between;
}

input.form-control.input-lg {
  font-size: 18px;
  padding: 10px 12px;
}

button.btn.btn-primary.btn-lg {
  font-size: 18px;
  padding: 10px 24px;
}

.col-xs-8 {
    width: 66.66667%;
}
